@inherits LayoutComponentBase


<div class="page">
        <div class="main">
            <div style="background-color:rgb(242, 242, 242)">
                @Body
            </div>
        </div>
</div>


