@namespace staj_r.Staj_IME

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <h5 class="card-header">@message</h5>
    </div>
</div>

@code {
    [Parameter]
    public string message { get; set; }
}
