@page "/diger"

                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-pills flex-column flex-md-row mb-3">
                                <li class="nav-item">
                                    <a class="nav-link" href=/add_std><i class="bx bx-user me-1"></i>Öğrenci Ekle</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href=/add_academic><i class="bx bx-user me-1"></i>Öğretim Görevlisi Ekle</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href=/add_councilor><i class="bx bx-user me-1"></i>Kurul Üyesi Ekle</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href=/add_dpthead><i class="bx bx-user me-1"></i>Bölüm Sorumlusu Ekle</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href=/diger><i class="bx bx-user me-1"></i>Diğer</a>
                                </li>
                            </ul>

                            <div class="card mb-4">
                                <div style="card-body">
                                    <h5 class="card-header">Yeni Rol Eklemek İçin Lütfen Tıklanıyız</h5>
                                    <div style="text-align:left" class="mt-2">
                                      <a class="btn btn-primary me-2" href=/Add_Role>Yeni Rol Ekle</a>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
@code {
    ILocalStorageService localStore;
	[Parameter]
	public UserWToken uwt { get; set; }
	protected override async Task<Task> OnAfterRenderAsync(bool firstRender)
	{
		uwt = await UserController.detokenizeUserWToken(await localStore.GetItemAsStringAsync("user"));
		await InvokeAsync(StateHasChanged);
		return base.OnAfterRenderAsync(firstRender);
	}
}
