<div class="modal fade" id="modalToggle" aria-labelledby="modalToggleLabel" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="text-align:left;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalToggleLabel">Rolü GÜncelleyin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <!--DropBox-->
            <div class="btn-group">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">İstediğiniz rolü seçiniz</button>
                <select>
                    @for (int j = 0; j < DDRoles.Count; j++)
                    {
                        <option>
                            @ddroleNames[j]
                        </option>
                    }
                </select>
                    </div>
                    <!--DropBox bitiyor-->
                    <!--Button Yeni rolü onayla-->
                    <div class="modal-footer" style="margin-right: 370px">
                        <button class="btn btn-primary" data-bs-target="#modalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Yeni rolü onayla</button>
                        </div>
                        <!--Button Yeni rolü onayla bitiyor-->
                        <div class="col mb-0">
                            <label for="emailBasic" class="form-label">Email</label>
                            <input type="text" id="emailBasic" class="form-control" placeholder="email@örnek">
                        </div>
                        
                        <div class="col mb-0">
                            <label for="emailBasic" class="form-label">Lütfen tekrar E-mail yazınız</label>
                            <input type="text" id="emailBasic" class="form-control" placeholder="email@örnek">
                                        </div>
                                        <div class="modal-footer" style="text-align:left; margin-right:428px">
                                            <button class="btn btn-primary" data-bs-target="#modalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Onayla</button>
                                        </div>

                                        <!--Şifre sıfırla button-->
                                        <div class="modal-footer" style="text-align:left; margin-right:408px">
                                            <button class="btn btn-primary" data-bs-target="#modalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Şifre sıfırla</button>
                                        </div>

                                        <!--Şifre sıfırla button bitiyor-->

                                    </div>
                                </div>
                            </div>
                            <!-- Modal 2-->
                            <div class="modal fade" id="modalToggle2" aria-hidden="true" aria-labelledby="modalToggleLabel2" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalToggleLabel2">Uyarı</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="text-align:center">
                                            <h4> İşlemi Onaylıyor musunuz?</h4>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">HAYIR</button>
                                            <button type="button" class="btn btn-primary">EVET</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
@code {
    [Parameter]
    public Dictionary<int,string> DDRoles { get; set; }
    public List<string> ddroleNames { get; set; } = new List<string>();
    protected override void OnInitialized()
    {
        DDRoles.Values.ForEach(e => ddroleNames.Add(e));
        base.OnInitialized();
    }
    protected async Task submit()
    {
        UserController uc = new UserController();
    }
}
