@page "/"
@namespace staj_r.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>staj-r</title>
    <base href="~/" />

    @*tables*@
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../dash/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../dash/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../dash/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="../dash/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../dash/assets/js/config.js"></script>
    @*tables*@

    @*layout vertical*@
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../dash/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../dash/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../dash/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="../dash/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../dash/assets/js/config.js"></script>
    @*layout vertical*@

    @*input groups*@
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../dash/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../dash/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../dash/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="../dash/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../dash/assets/js/config.js"></script>
    @*input groups*@

    @*basic inputs*@
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../dash/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../dash/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../dash/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="../dash/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../dash/assets/js/config.js"></script>
    @*basic inputs*@

    @*toasts*@
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../dash/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../dash/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../dash/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="../dash/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../dash/assets/js/config.js"></script>
    @*toasts*@

    @*tabs and pills*@
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../dash/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../dash/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../dash/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="../dash/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../dash/assets/js/config.js"></script>
    @*tabs and pills*@

    @*progress*@
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../dash/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../dash/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../dash/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="../dash/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../dash/assets/js/config.js"></script>
    @*progress*@

    @*modals*@
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../dash/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../dash/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../dash/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="../dash/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../dash/assets/js/config.js"></script>
    @*modals*@

    @*ui buttons*@
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../dash/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../dash/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../dash/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="../dash/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../dash/assets/js/config.js"></script>
    @*ui buttons*@

    @*list groups*@
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../dash/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../dash/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../dash/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="../dash/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../dash/assets/js/config.js"></script>
    @*list groups*@

    @*users section*@
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../dash/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../dash/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../dash/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../dash/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="../dash/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../dash/assets/js/config.js"></script>
    @*users section*@

    @*edit_std section*@
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../dash/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../dash/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../dash/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../dash/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="../dash/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../dash/assets/js/config.js"></script>
    @*edit_std section*@

    @*index section*@
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="index/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="index/assets/css/font-awesome.css">

    <link rel="stylesheet" href="index/assets/css/templatemo-softy-pinko.css">
    @*index section*@

    @*login section*@
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../dash/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../dash/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../dash/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../dash/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="../dash/assets/vendor/css/pages/page-auth.css" />

    <!-- Helpers -->
    <script src="../dash/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../dash/assets/js/config.js"></script>
    @*login section*@

    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="staj-r.styles.css" rel="stylesheet" />
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../dash/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../dash/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../dash/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../dash/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="../dash/assets/vendor/libs/apex-charts/apex-charts.css" />
    <!-- Helpers -->
    <script src="../dash/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../dash/assets/js/config.js"></script>

    @*antdesign*@
    <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet"/>
    <script src="_content/AntDesign/js/ant-design-blazor.js"></script>
    @*antdesign*@

</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    @*tables*@
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../dash/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../dash/assets/vendor/libs/popper/popper.js"></script>
    <script src="../dash/assets/vendor/js/bootstrap.js"></script>
    <script src="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../dash/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="../dash/assets/js/main.js"></script>

    <!-- Page JS -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    @*tables*@

    @*layout vertical*@
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../dash/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../dash/assets/vendor/libs/popper/popper.js"></script>
    <script src="../dash/assets/vendor/js/bootstrap.js"></script>
    <script src="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../dash/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="../dash/assets/js/main.js"></script>

    <!-- Page JS -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    @*layout vertical*@

    @*input groups*@
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../dash/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../dash/assets/vendor/libs/popper/popper.js"></script>
    <script src="../dash/assets/vendor/js/bootstrap.js"></script>
    <script src="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../dash/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="../dash/assets/js/main.js"></script>

    <!-- Page JS -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    @*input groups*@

    @*basic inputs*@
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../dash/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../dash/assets/vendor/libs/popper/popper.js"></script>
    <script src="../dash/assets/vendor/js/bootstrap.js"></script>
    <script src="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../dash/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="../dash/assets/js/main.js"></script>

    <!-- Page JS -->

    <script src="../dash/assets/js/form-basic-inputs.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    @*basic inputs*@

    @*toasts*@
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../dash/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../dash/assets/vendor/libs/popper/popper.js"></script>
    <script src="../dash/assets/vendor/js/bootstrap.js"></script>
    <script src="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../dash/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="../dash/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../dash/assets/js/ui-toasts.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    @*toasts*@

    @*tabs and pills*@
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../dash/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../dash/assets/vendor/libs/popper/popper.js"></script>
    <script src="../dash/assets/vendor/js/bootstrap.js"></script>
    <script src="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../dash/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="../dash/assets/js/main.js"></script>

    <!-- Page JS -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    @*tabs and pills*@

    @*progress*@
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../dash/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../dash/assets/vendor/libs/popper/popper.js"></script>
    <script src="../dash/assets/vendor/js/bootstrap.js"></script>
    <script src="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../dash/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="../dash/assets/js/main.js"></script>

    <!-- Page JS -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    @*progress*@

    @*modals*@
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../dash/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../dash/assets/vendor/libs/popper/popper.js"></script>
    <script src="../dash/assets/vendor/js/bootstrap.js"></script>
    <script src="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../dash/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="../dash/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../dash/assets/js/ui-modals.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    @*modals*@

    @*ui buttons*@
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../dash/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../dash/assets/vendor/libs/popper/popper.js"></script>
    <script src="../dash/assets/vendor/js/bootstrap.js"></script>
    <script src="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../dash/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="../dash/assets/js/main.js"></script>

    <!-- Page JS -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    @*ui buttons*@

    @*list groups*@
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../dash/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../dash/assets/vendor/libs/popper/popper.js"></script>
    <script src="../dash/assets/vendor/js/bootstrap.js"></script>
    <script src="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../dash/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="../dash/assets/js/main.js"></script>

    <!-- Page JS -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    @*list groups*@

    @*users section*@
    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="../dash/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../dash/assets/js/config.js"></script>
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../dash/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../dash/assets/vendor/libs/popper/popper.js"></script>
    <script src="../dash/assets/vendor/js/bootstrap.js"></script>
    <script src="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../dash/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="../dash/assets/js/main.js"></script>

    <!-- Page JS -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    @*users section*@

    @*edit_std section*@
    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="../dash/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../dash/assets/js/config.js"></script>
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../dash/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../dash/assets/vendor/libs/popper/popper.js"></script>
    <script src="../dash/assets/vendor/js/bootstrap.js"></script>
    <script src="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../dash/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="../dash/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../dash/assets/js/pages-account-settings-account.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    @*edit_std section*@

    @*index section*@
    <!-- jQuery -->
    <script src="index/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="index/assets/js/popper.js"></script>
    <script src="index/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="index/assets/js/scrollreveal.min.js"></script>
    <script src="index/assets/js/waypoints.min.js"></script>
    <script src="index/assets/js/jquery.counterup.min.js"></script>
    <script src="index/assets/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="index/assets/js/custom.js"></script>
    @*index section*@

    @*login section*@
    <!-- Helpers -->
    <script src="../dash/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../dash/assets/js/config.js"></script>
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../dash/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../dash/assets/vendor/libs/popper/popper.js"></script>
    <script src="../dash/assets/vendor/js/bootstrap.js"></script>
    <script src="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../dash/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="../dash/assets/js/main.js"></script>

    <!-- Page JS -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    @*login section*@

    <script src="_framework/blazor.server.js"></script>
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../dash/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../dash/assets/vendor/libs/popper/popper.js"></script>
    <script src="../dash/assets/vendor/js/bootstrap.js"></script>
    <script src="../dash/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../dash/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="../dash/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="../dash/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../dash/assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- Helpers -->
    <script src="../dash/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../dash/assets/js/config.js"></script>

    @*antdesign*@
    <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet" />
    <script src="_content/AntDesign/js/ant-design-blazor.js"></script>
    @*antdesign*@

</body>
</html>
