@page "/down"
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Hosting;
@using System.IO;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@*@using System.IO
@using Microsoft.JSInterop
@inject IJSRuntime JS*@
<a class="form-control btn btn-primary" href="/down2">Download</a>
<button onclick="location.href = '/down2'">Bassssss</button>


@code {
        



//    protected IJSRuntime JSRuntime { get; set; }

//    public async Task Download()
//    {
//            Stream stree = await new DocumentController().getDailyReport(new DailyReport()
//            {
//                aciklama_GT6ExY2 = "Önder ",
//                tarih_Rvt9hVm = new DateTime(2022, 10, 31),
//                yapilan_is_QHt6wvC = "ALPCAN İÇİN",
//            });
//            await DownloadFile("nyan.docx", stree, "application/octet-stream");
//	}
//    public async ValueTask<DownloadFileResult> DownloadFile(string fileName, Stream stream, string contentType = "application/octet-stream")
//        {
//            return await JSRuntime.InvokeAsync<DownloadFileResult>("_blazorDowloadFileBase64String", fileName, Convert.ToBase64String(ReadFully(stream)), contentType);
//        }
//public byte[] ReadFully(Stream input)
//{
//    byte[] buffer = new byte[16*1024];
//    using (MemoryStream ms = new MemoryStream())
//    {
//        int read;
//        while ((read = input.Read(buffer, 0, buffer.Length)) > 0)
//        {
//            ms.Write(buffer, 0, read);
//        }
//        return ms.ToArray();
//    }
//}
//    public class DownloadFileResult
//    {
//        public string ErrorMessage { get; set; }
//        public string ErrorName { get; set; }
//        public bool Succeeded { get; set; }
//    }
}
