@page "/"
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav" style="align-content: center">
                        <li>
                            <a href="#">
                                <img src="../dash/assets/img/icons/brands/logo.png" width="90"
                                     height="55" alt="Staj-R" />
                            </a>
                        </li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><a href="/stajR">Giriş Yap</a></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                        <li><br></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<body>
<!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h1><b>Öğrenci ile Öğretmen arasındaki duvarları yıkıyoruz!</b></h1>
                        <p><b>Öğrencinin kafasında her daim soru işaretleri bırakan bu sancılı dönemi internet dünyasına aktararak kolaylaştırıyoruz.</b></p>
                        <a href=/stajR class="main-button-slider">Giriş Yap!</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Small Start ***** -->
    <section class="section home-feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="../dash/assets/img/icons/brands/logo1.png" alt="" width="50"
										 height="50"></i>
                                </div>
                                <h5 class="features-title">Kullanıcı Dostu</h5>
                                <p>Site içerisinde yapmanız gerekenleri kolaylıkla bulabilirsiniz</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i>
                                        <img src="../dash/assets/img/icons/brands/logo1.png" alt="" width="50"
                                             height="50">
                                    </i>
                                </div>
                                <h5 class="features-title">Zengin İçerik</h5>
                                <p>Staj döneminde ihtiyaç duyulan tüm dokümanlar bir arada</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i>
                                        <img src="../dash/assets/img/icons/brands/logo1.png" alt="" width="50"
                                             height="50">
                                    </i>
                                </div>
                                <h5 class="features-title">Akademik Yardımcı</h5>
                                <p>Sadece öğrenci için değil, öğretmen için de burada!</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Small End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section padding-top-70 padding-bottom-0" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="../dash/assets/img/icons/brands/logo.png" class="rounded img-fluid d-block mx-auto" alt="App" width="400" height="400">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-heading">
                        <h2 class="section-title">Let’s discuss about you project</h2>
                    </div>
                    <div class="left-text">
                        <p>Nullam sit amet purus libero. Etiam ullamcorper nisl ut augue blandit, at finibus leo efficitur. Nam gravida purus non sapien auctor, ut aliquam magna ullamcorper.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                    <div class="left-heading">
                        <h2 class="section-title">We can help you to grow your business</h2>
                    </div>
                    <div class="left-text">
                        <p>Aenean pretium, ipsum et porttitor auctor, metus ipsum iaculis nisi, a bibendum lectus libero vitae urna. Sed id leo eu dolor luctus congue sed eget ipsum. Nunc nec luctus libero. Etiam quis dolor elit.</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <img src="../dash/assets/img/icons/brands/logo.png" class="rounded img-fluid d-block mx-auto" alt="App" width="400" height="400">
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->
    
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">STAJ-R ONLINE STAJ EDİTÖRÜ</p>
                </div>
            </div>
        </div>
    </footer>
  </body>

@code{

}
