@inject ILocalStorageService localStore   
<!-- Content -->
@if (isLogin == true)
{
    <staj_r.Dashboard.Dashboard User=uwt></staj_r.Dashboard.Dashboard>
}
@if(isLogin == false)
{
<div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <!-- Register -->
                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center">
                        <span class="app-brand-logo demo">
                            <img src="../dash/assets/img/icons/brands/logo1.png" alt class="staj-r_logo" width="50" height="50" />
                        </span>
                        <span class="app-brand-text demo menu-text fw-bolder ms-2" style="color:black">Staj-R</span>
                        </div>
                        <!-- /Logo -->
                        <h4 class="mb-2">Staj-R'a Hoş Geldiniz!</h4>
                        <p class="mb-4">Staj işlemleri için giriş yapınız</p>

                        <form id="formAuthentication" class="mb-3" method="POST">
                            <div class="mb-3">
                                <label for="email" class="form-label">Okul Numarası</label>
                                <input type="text"
                                       class="form-control"
                                       id="email"
                                       name="email-username"
                                       placeholder="Numaranızı giriniz"
                                       autofocus @onchange = "numberChanged"/>
                                       <p>Number: @number</p>
                            </div>
                            <div class="mb-3 form-password-toggle">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="password">Şifre</label>
                                    <a href=/sifre_bilgilendirme>
                                        <small>Şifrenizi mi unuttunuz?</small>
                                    </a>
                                </div>
                                <div class="input-group input-group-merge">
                                    <input type="@showpass"
                                           id="password"
                                           class="form-control"
                                           name="password"
                                           placeholder="Şifrenizi gireniz"
                                           aria-describedby="password" @onchange = "passwordChanged" />
                                    <span @onclick="showpassbtn" class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="remember-me" />
                                    <label class="form-check-label" for="remember-me"> Beni Hatırla </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <Button class="btn btn-primary d-grid w-100" @onclick = "signinClicked">Giriş Yap</Button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /Register -->
            </div>
        </div>
    </div>
    }
@inject NavigationManager navman
@code {
    public string number = "";
    public string password = "";
    public UserWToken uwt { get; set; }
    public bool? isLogin = false;
    public string showpass = "password";

    private void showpassbtn()
    {
        if(showpass == "password")
        {
            showpass = "text";
        }
        else
        {
            showpass = "password";
        }
    }

    private void numberChanged(ChangeEventArgs args)
    {
        try
        {
            Convert.ToInt64(args.Value);
            number = (string)args.Value.ToString().Trim();
        }
        catch{}
    }

    private void passwordChanged(ChangeEventArgs args)
    {
        try
        {
            password = args.Value.ToString().Trim();
        }
        catch{}
    }

    private async void signinClicked()
    {
        try
        {
            if(number =="" || password == "")
            {
                throw new Exception();
            }
            var res = await new LoginContoller().loginWithoutToken(number, password);
            if (res.isSuccess)
            {
                uwt = res.value;
                await localStore.SetItemAsStringAsync("token", res.value.token);
                isLogin = true;
                navman.NavigateTo("/stajR");
            }
            else
            {
                isLogin = false;
            }
        }
        catch
        {}
    }

}
