    <!-- Content -->

    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <!-- Register -->
                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center">
                        <span class="app-brand-logo demo">
                            <img src="../dash/assets/img/icons/brands/logo1.png" alt class="staj-r_logo" width="50" height="50" />
                        </span>
                        <span class="app-brand-text demo menu-text fw-bolder ms-2" style="color:black">Staj-R</span>
                        </div>
                        <!-- /Logo -->
                        <h4 class="mb-2">Staj-R'a Hoş Geldiniz!</h4>
                        <p class="mb-4">Staj işlemleri için giriş yapınız</p>

                        <form id="formAuthentication" class="mb-3" action=/dashboard method="POST">
                            <div class="mb-3">
                                <label for="email" class="form-label">Okul Numarası</label>
                                <input type="text"
                                       class="form-control"
                                       id="email"
                                       name="email-username"
                                       placeholder="Numaranızı giriniz"
                                       autofocus @onchange = "numberChanged"/>
                                       <p>Number: @number</p>
                            </div>
                            <div class="mb-3 form-password-toggle">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="password">Şifre</label>
                                    <a href=/sifre_bilgilendirme>
                                        <small>Şifrenizi mi unuttunuz?</small>
                                    </a>
                                </div>
                                <div class="input-group input-group-merge">
                                    <input type="password"
                                           id="password"
                                           class="form-control"
                                           name="password"
                                           placeholder="Şifrenizi gireniz"
                                           aria-describedby="password" @onchange = "passwordChanged" />
                                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="remember-me" />
                                    <label class="form-check-label" for="remember-me"> Beni Hatırla </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary d-grid w-100" type="submit" @onclick = "signinClicked">Giriş Yap</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /Register -->
            </div>
        </div>
    </div>
@code {
    public long number;
    public string password;

    private void numberChanged(ChangeEventArgs args)
    {
        try
        {
            number = Convert.ToInt64(args.Value);
        }
        catch{}
    }

    private void passwordChanged(ChangeEventArgs args)
    {
        try
        {
            password = args.Value.ToString();
        }
        catch{}
    }

    private void signinClicked()
    {
        try
        {

        }
        catch
        {
            
        }
    }

}
