@page "/stajR"
@inject ILocalStorageService localStore



@*Token kontrolleri yapılacak*@
@if(isTokenValid == true)
{
	@*Dashboard'a yönlendiriliyor*@
	<Dashboard user="@user"/>
}
else if(isTokenValid == false)
{
	@*Login'e yönlendiriliyor*@
	<Login/>
}
else
{
	<h1>Loading...</h1>
}



@code {
	public bool? isTokenValid = null;

	public User user;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		try
		{
			LoginViewData lvd = new LoginViewData();
			//user = await lvd.tokenControl(await localStore.GetItemAsync<string>("token"));
			isTokenValid = true;
		}
		catch
		{
			isTokenValid = false;
		}
		if(firstRender) this.StateHasChanged();
	}

	//////////////   TOKEN OLUŞTURMA    ////////////////////
	/*
	async Task butcli()
	{
		await localStore.SetItemAsync("token","frankfurt");
	}
	*/
	///////////////////////////////////////////////////////
}
